### 라이브러리 선언

In [1]:
import pandas as pd

### 1. 데이터 불러오기

In [2]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [5]:
customerData.head(2)

   CUSTID    AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.90000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.44195    2            4    2.682023      Sleeping-dog

#### 조회할래!!! ( 우리제품을 4개 이상 구매했고, 일단 2년미만 지속 사용한 고객`

In [7]:
countCond = 4
ageCond = 2

In [15]:
refinedData.AVGPRICE = refinedData.AVGPRICE.astype(str)

C:\Users\kopo\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [20]:
refinedData.dtypes

CUSTID          object
AVGPRICE        object
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [ ]:
refinedData.AVGPRICE = refinedData.AVGPRICE.astype(float)

In [22]:
aa = refinedData.loc[  refinedData.AVGPRICE.astype(float) > 100]

In [23]:
emiTargets = [2,3,5]

In [25]:
refinedData.loc[ ~refinedData.EMI.isin(emiTargets) ]

    CUSTID          AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
11  C18622            3246.0    1            5    1.891624  Big-Screen-lover
65  M16452  3353.53728971703    1            4    1.940357      Sleeping-dog
68  N14862  2390.08373567855    1            6    1.000000        Early-bird

In [ ]:
refinedData.loc[  refinedData.EMI == 2
                  refinedData.EMI == 3
                  refinedData.EMI == 5 ]

In [49]:
targetColumns = ["CUSTID","EMI"]

In [57]:
custIdColumnNo = 0
avgPriceColumnNo = 1
emiColumnNo = 2

In [56]:
customerData.columns

Index(['CUSTID', 'AVGPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE', 'CUSTTYPE'], dtype='object')

In [64]:
emi3Data = customerData.loc[ customerData.EMI==3 ]

In [69]:
emi3Data.reset_index(drop=True, inplace=True)

In [75]:
custData = emi3Data.set_index("CUSTID")

In [78]:
custData.loc["A13566":"G16437"]

           AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
CUSTID
A13566  4273.900000    3            6    1.679181  Big-Screen-lover
F17131  3179.708359    3            6    1.100000        Early-bird
G16437  3787.328898    3            6    1.000000        Early-bird

In [26]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [32]:
trainingData = customerData.loc[20:30]

In [41]:
trainIndex = list( trainingData.index )

In [79]:
kopo_customerdata = pd.read_csv("../dataset/kopo_customerdata.csv")

targetColumns = ['STATENAME', 'GENDER']

kopo_customerdata.loc[:,targetColumns]

kopo_customerdata[:,targetColumns]

In [98]:
customerData = pd.read_csv("../dataset/customerdata.csv")

### productage < 1로 변경하고 그외에는 기존값을 쓴다

In [102]:
import numpy as np

In [104]:
customerData["PRODUCTAGE_NEW"] = \
    np.where(customerData.PRODUCTAGE < 1, 1, customerData.PRODUCTAGE)

In [111]:
customerData.loc[ (customerData.PRODUCTAGE >= 1) &
                  (customerData.PRODUCTAGE_NEW != customerData.PRODUCTAGE) ]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE, PRODUCTAGE_NEW]
Index: []

### np.where 활용 데이터 조작

In [113]:
### PRODUCTAGE 1보다 작은경우 1
### PRODUCTAGE 1보다 크면서 2보다 작은경우 2
### PRODUCTAGE 이외는 3

In [116]:
np.where(customerData.PRODUCTAGE < 1, 1,
         np.where(customerData.PRODUCTAGE < 2, 2, 3))

array([2, 3, 3, 1, 3, 3, 1, 3, 3, 3, 3, 2, 3, 1, 3, 3, 3, 3, 3, 3, 3, 2,
       2, 1, 1, 3, 2, 2, 3, 3, 1, 3, 3, 2, 3, 3, 2, 1, 1, 2, 1, 2, 3, 3,
       1, 1, 3, 3, 1, 3, 3, 1, 1, 1, 3, 1, 3, 2, 3, 3, 2, 2, 1, 3, 2, 2,
       3, 2, 2, 2, 3, 1, 3, 3, 2, 3, 3, 1, 1, 2, 1, 3, 1, 3, 1, 3, 3, 1,
       3, 3, 3, 3, 3, 3, 2, 1, 2, 2, 2, 2, 3, 3, 3, 3, 2, 1, 2, 3, 3, 3,
       3, 3, 3, 2, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 2, 3, 3, 2, 2,
       1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 1, 3, 2, 2])

### 2. loc 함수를 활용해서 데이터를 조작

In [119]:
customerData.loc[customerData.PRODUCTAGE <= 1 ,"HK_NEW"] = 1
customerData.loc[(customerData.PRODUCTAGE > 1) &
                 (customerData.PRODUCTAGE <= 2) ,"HK_NEW"] = 2
customerData.loc[(customerData.PRODUCTAGE > 2)] = 3

### 3. 함수적용 해서 데이터를 조작해보자!

In [139]:
def valuechange(inValue):
    #testvalue=invalue
    #inValue = 2.5
    outValue = 0

    if inValue < 1:
        outValue = 1
    elif inValue < 2:
        outValue = 2
    else:
        outValue = 3
    return outValue

In [141]:
customerData["HK_NEW2"] = \
    customerData.PRODUCTAGE.apply(valuechange)

### 데이터 정렬하기

In [166]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [170]:
sortKey = ["EMI","AVGPRICE"]

In [172]:
sortedData = customerData.sort_values(by=sortKey, ascending= [True,False] )

In [176]:
groupKey = ["EMI"]

In [178]:
customerData.groupby(by=groupKey)[["AVGPRICE"]].mean()

        AVGPRICE
EMI
1    3119.031810
2    3441.429664
3    3559.487188

In [161]:
customerData["NEW222"] = customerData.CUSTID.astype(str).str[0:3].str.lower()+"_"+customerData.EMI.astype(str)

In [162]:
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,NEW222
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,a13_3
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,a14_2
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,a15_2
3,A16605,3713.211107,2,6,0.900000,Early-bird,a16_2
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,b10_2
...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,z13_2
146,Z13534,3662.437527,3,6,0.900000,Early-bird,z13_3
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,z16_2
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,z16_2
149,Z19835,3326.526183,2,6,1.200000,Early-bird,z19_2

In [82]:
kopo_customerdata.loc[0:5,[targetColumns]]

KeyError: "None of [Index([('STATENAME', 'GENDER')], dtype='object')] are in the [columns]"

In [10]:
refinedData = customerData.loc[ (customerData.DEVICECOUNT >= countCond) &
                  (customerData.PRODUCTAGE < ageCond ) ]

In [12]:
refinedData.loc[ refinedData.PRODUCTAGE >= 2]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE]
Index: []

In [3]:
customerData.loc[  customerData["AVGPRICE"] > 4000  ]

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
9    C15050  4020.173425    2            4    3.013440      Sleeping-dog
10   C18306  4005.005142    2            4    3.113618      Sleeping-dog
15   D15289  4165.700000    2            6    2.911016  Big-Screen-lover
16   D17241  4166.533130    2            4    2.577757      Sleeping-dog
18   E10778  4165.700000    2            6    2.122257  Big-Screen-lover
25   F12979  4165.700000    2            6    2.128362  Big-Screen-lover
38   H10188  4020.245162    2            6    0.900000        Early-bird
66   M17538  4111.600000    2            6    2.012517  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
129  W13032  4003.400000    2            6    2.519623  Big-Screen-lover
130  W13404  4296.873743    3            6    1.100000        Early-bird